:root {
  background-color: white;
}
.box-logo {
  background-image: url(img/pattern.png);
  height: 180px;
  background-color: dodgerblue;
}
#logo {
  margin-top: 100px;
  margin-left: 10px;
  width: 13%;
}
.titolo {
  margin: 0;
}
.credits-date {
  margin: 0;
  opacity: 0.8;
  color: dimgrey;
}

.decsrizione-img {
  font-size: 12px;
  margin: 0;
}
/* .box {
  width: 100%;
  margin: auto;
} */
.row-titolo {
  background-color: rgb(96, 194, 255);
  color: white;
}
.dolor-titolo {
  width: 30%;
  display: inline-block;
}

.dolor {
  width: 30%;
  display: inline-block;
}
.paragrafo {
  display: inline-block;
  width: 30%;
}
.row,
.row2 {
  background-color: rgba(0, 255, 255, 0.37);
}

.info {
  margin-top: 50px;
  opacity: 0.5;
}
.img-footer {
  margin: 0;
  display: block;
  margin-bottom: 10px;
}
